.carousel{
    z-index: 1;
    display: flex;
    flex-direction: row;
    height: 95vh;
    position: absolute;
    top: 0;
    transition: 0.5s ease;
}
.slide1,.slide2,.slide3,.slide4,.slide5{
    width: 100vw;
    height: 95vh;
    background-size: 100vw;
    background-repeat: no-repeat;
}
.slide1{
    background-image: url(images/carousel1.webp);

}
.slide2{
    background-image: url(images/carousel2.webp);

}
.slide3{
    background-image: url(images/carousel3.webp);

}
.slide4{
    background-image: url(images/carousel4.webp);

}
.slide5{
    background-image: url(images/carousel5.webp);

}