body{
    background-color: rgb(47, 46, 46);
}
.carousel {
    z-index: 1;
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: absolute;
    top: 0vh;
    transition: 0.5s ease;
    cursor: grab;
}
#carousel{
    transition: 1s ease;
    transform: translateY(80vh);
}
.slide1,
.slide2,
.slide3,
.slide4,
.slide5 {
    width: 100vw;
    height: 100vh;
    background-size: 100vw;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url(Assets/images/carousel1.jpg);

}

.slide2 {
    background-image: url(Assets/images/carousel2.webp);

}

.slide3 {
    background-image: url(Assets/images/carousel3.webp);

}

.slide4 {
    background-image: url(Assets/images/carousel4.webp);

}

.slide5 {
    background-image: url(Assets/images/carousel5.webp);

}

.slidetop {
    position: relative;
    display: block;
    top: 0vh;
    left: 10vw;
    font-weight: 100;
    font-size: 12rem;
    overflow: hidden;
}


.slideleft {
    position: relative;
    top: 5vh;
    left: 2vw;
    font-weight: 100;
    font-size: 12rem;
    overflow: hidden;
}

.slideright {
    position: relative;
    top: -25vh;
    left: 70vw;
    font-weight: 100;
    font-size: 12rem;
    overflow: hidden;
}

.slidebottom {

    position: relative;
    display: block;
    top: -20vh;
    left: 50vw;
    font-weight: 100;
    font-size: 12rem;
    overflow: hidden;
}
.slidebox{
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 30vw;
    height: 20vh;
    position: relative;
    top: -55vh;
    left: 2vw;
    cursor: pointer;
}
.slidebox2{
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 30vw;
    height: 20vh;
    position: relative;
    top: 70vh;
    left: 2vw;
    cursor: pointer;
}
.heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60%;
    color: white;
    font-weight: 100;
    font-size: 3rem;
}
.text{
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
    width: 80%;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.arrow{
    width: 20%;
    position: relative;
    left: 5vw;
    font-size: 1.5rem;
    font-weight: bolder;
    transition: 0.2s ease;
    
}
.slidebox:hover{
    border: 1px solid #fff9;
    background-color: #1c1c1c33;
}
.slidebox:hover .arrow{
    transform: translateX(20px);
}

.text1,.text2,.text3,.text4{
    transform: translateY(40vh);
    transition: 1s ease;
}
.carouselcontrol{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10vw;
    position: absolute;
    top: 90vh;
    right:  15vw;
    z-index: 3;
}
.circle{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    border: 2px solid white;
}
.circle:hover{
    cursor: pointer;
}