.halfwidth {
    width: 50vw;

}

.whitetext {
    color: white;
}

.blacktext {
    color: black;
}

.orange {
    color: #ff3d00;
}

.fragmentfont {

    font-family: Fragment-Light, "Neue Montreal";
}

.brutfont {
    font-family: brut, "Neue Montreal";
}
.editorialfont{
    font-family: 'EditorialOld-Light';
}
.neueufont{
    font-family: neue-montreal, "Neue Montreal";
}
