.section2{
    height: 110vh;
    width: 100vw;
    position: absolute;
    padding: 4vh;
    overflow: hidden;
}
.text_section2{
    display: flex;
    font-size: 3.2rem;
}
.text2_section2{
    display: flex;
    position: relative;
    width: 20vw;
    font-size: 1.2rem;
    top: 20vh;
    left: 70vw;
}